* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url('party.jpeg') no-repeat center center fixed;
  background-size: 100% auto;
  color: #fff;
}

header {
  text-align: center;
  padding: 10px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  color: rgb(255, 255, 255);
}

h3 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  color: rgb(255, 255, 255);
}

p {
  font-size: 18px;
  text-shadow: 1px 1px #000;
  color: rgb(255, 255, 255);
}

main {
  max-width: 100%;
  margin: 0;
  padding: 10px;
}

.transparent-box {
  opacity: 0.8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.event {
  background-color: rgb(24, 23, 23);
  opacity: 0.9;
  margin: 3px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.day {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(101, 100, 100);
  border-color: #000;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.column-left {
  padding-right: 10px;
  display: inline-block;
  width: 100%;
}

.column-right {
  text-align: center;
  width: 100%;
}

.column-center {
  width: 100%;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  main {
    padding: 10px;
  }
  .transparent-box {
    padding: 10px;
  }
  .event {
    padding: 10px;
    flex-wrap: wrap;
  }
  .column-left {
    padding-right: 0;
    margin-bottom: 10px;
    display: block;
  }
  .column-right {
    text-align: center;
    display: block;
  }
  .column-center {
    width: 100%;
    margin: 0 auto;
  }
  iframe {
    width: 100%;
    height: 200px;
  }
}
